<mat-drawer-container>
  <mat-drawer mode="side" opened *ngIf="isUserLoggedIn$ | async ">
    <div class="side-menu">
      <a [routerLink]="['/institute']">
        institute dash
      </a>
      <a [routerLink]="['/institute/edit']">
        Edit Institute
      </a>
      <a [routerLink]="['/hostel/dash']">
        Hostel Dash
      </a>
      <a [routerLink]="['/institute']">
        Institute 4
      </a>
      <a [routerLink]="['/institute']">
        Institute 5
      </a>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
