<div class="main-area-hostelDash">
  <mat-toolbar color="warn" class="mat-elevation-z8">
    <mat-toolbar-row>
      <div>
        Hostel Dashboard
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="hostel-content">
    <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title><i class="fas fa-school icon-space"></i>
          <span class="span-space">Hostel</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="card-context">
          <div class="number-txt">1</div>
          <div class="string-text">Hostel</div>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <button mat-raised-button color="accent" matTooltip="Click to setup new hostel">
          <i class="fas fa-hammer"></i></button>
      </mat-card-footer>
    </mat-card>
    <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>
          <i class="fas fa-building"></i>
          <span class="span-space">Building</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="card-context">
          <div class="number-txt">3</div>
          <div class="string-text">Buildings</div>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <button mat-raised-button color="accent" matTooltip="Click to setup new hostel">
          <i class="fas fa-plus"></i></button>
      </mat-card-footer>
    </mat-card>
    <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>
          <i class="fas fa-person-booth"></i>
          <span class="span-space">Rooms</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="card-context">
          <div class="number-txt">50</div>
          <div class="string-text">Rooms</div>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <button mat-raised-button color="accent" matTooltip="Click to setup new hostel">
          <i class="fas fa-plus"></i></button>
      </mat-card-footer>
    </mat-card>
    <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>
          <i class="fas fa-bed"></i>
          <span class="span-space">Beds</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="card-context">
          <div class="number-txt">300</div>
          <div class="string-text">Beds</div>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <button mat-raised-button color="accent" matTooltip="Click to setup new hostel">
          <i class="fas fa-plus"></i></button>
      </mat-card-footer>
    </mat-card>
  </div>
  <div class="test-bg">
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
      [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
    </canvas>
  </div>
</div>
